@charset "UTF-8";
@keyframes spriteAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -576px -192px;
  }
}
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
html body .heading {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 4.5rem;
  color: black;
}
html body .heading span {
  position: relative;
  z-index: 0;
}
html body .heading span::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #B9E937;
  -webkit-clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
          clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}
html body .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 9%;
}
html body .header #menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
}
html body .header .containerHeader {
  display: flex;
  flex-direction: row;
}
html body .header svg {
  height: 50px;
  width: 80px;
}
html body .header .logo {
  font-size: 2.5rem;
  color: #B9E937;
  font-weight: bolder;
  align-self: center;
}
html body .header .logo span {
  color: #406661;
}
html body .header .navbar a {
  font-size: 2rem;
  margin: 0 1rem;
  color: black;
  font-weight: 500;
}
html body .header .navbar a:hover {
  color: #B9E937;
}
html body .header .btn {
  margin-top: 0;
}
html body .header #login-btn i {
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
}
html body .header.active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
}
html body .btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: #57D131;
  color: black;
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}
html body .btn:hover {
  background-color: #B9E937;
}
html body .login-form-container {
  position: fixed;
  top: -105%;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
html body .login-form-container #close-login-form {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 5rem;
  color: black;
  cursor: pointer;
}
html body .login-form-container form {
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 40rem;
}
html body .login-form-container form h3 {
  color: black;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
html body .login-form-container form .box {
  margin: 0.7rem 0;
  width: 100%;
  text-transform: none;
  color: black;
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
html body .login-form-container form p {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: #B9E937;
}
html body .login-form-container form p a {
  color: #406661;
  text-decoration: underline;
}
html body .login-form-container form .btn {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}
html body .login-form-container form .buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
html body .login-form-container.active {
  top: 0;
  opacity: 1;
}
html body section {
  padding: 2rem 9%;
}
html body .home {
  padding-top: 10rem;
  text-align: center;
  overflow-x: hidden;
}
html body .home h1 {
  font-size: 7.5vh;
  text-transform: uppercase;
  color: black;
}
html body .home img {
  width: 100%;
  margin: 1rem 0;
}
html body .icons-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  background-color: #eee;
}
html body .icons-container .icon {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
html body .icons-container .icon i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: #eee;
  color: black;
  text-align: center;
}
html body .icons-container .icon .content h3 {
  color: #57D131;
  font-size: 2.5rem;
}
html body .icons-container .icon .content p {
  color: #406661;
  font-size: 1.5rem;
}
html body .icons-container .icon:hover {
  background: black;
}
html body .icons-container .icon:hover i {
  background: #57D131;
}
html body .icons-container .icon:hover .content p {
  color: white;
}
html body .icons-container .icon:hover .content h3 {
  color: #B9E937;
}
html body .swiper-pagination .swiper-pagination-bullet-active {
  background: #B9E937;
}
html body .vehicles .vehicle-slider {
  padding-bottom: 5rem;
}
html body .vehicles .vehicle-slider .swiper-wrapper .swiper-slide-active img {
  opacity: 1;
  transform: scale(1);
}
html body .vehicles .vehicle-slider .swiper-wrapper .swiper-slide-active .content {
  transform: scale(1);
}
html body .vehicles .vehicle-slider .box {
  text-align: center;
  width: 30rem;
}
html body .vehicles .vehicle-slider .box img {
  opacity: 0.5;
  transform: scale(0.8);
}
html body .vehicles .vehicle-slider .box .content {
  transform: scale(0);
  padding-top: 1rem;
}
html body .vehicles .vehicle-slider .box .content h3 {
  font-size: 2.5rem;
  color: black;
}
html body .vehicles .vehicle-slider .box .content .price {
  font-size: 2.5rem;
  color: #57D131;
  padding: 1rem 0;
  font-weight: bolder;
}
html body .vehicles .vehicle-slider .box .content .price span {
  font-size: 1.7rem;
  color: #406661;
  padding: 1rem 0;
  font-weight: normal;
}
html body .vehicles .vehicle-slider .box .content p {
  font-size: 1.6rem;
  padding: 1rem;
  padding-top: 1.5rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #406661;
}
html body .vehicles .vehicle-slider .box .content p span {
  color: black;
  font-size: 0.8rem;
  padding: 0 0.5rem;
}
html body .services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
html body .services .box-container .box {
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
html body .services .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2.5rem;
  color: black;
  background: #57D131;
  border-radius: 50%;
  margin-bottom: 1rem;
}
html body .services .box-container .box h3 {
  color: #406661;
  font-size: 2.2rem;
}
html body .services .box-container .box p {
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 1.8;
}
html body .services .box-container .box:hover {
  background: black;
}
html body .services .box-container .box:hover h3 {
  color: #57D131;
}
html body .services .box-container .box:hover p {
  color: white;
}
html body .featured .featured-slider {
  padding: 1rem;
  padding-bottom: 4rem;
}
html body .featured .featured-slider .swiper-wrapper .box {
  text-align: center;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
html body .featured .featured-slider .swiper-wrapper .box img {
  height: 20rem;
  width: 100%;
}
html body .featured .featured-slider .swiper-wrapper .box h3 {
  font-size: 2.2rem;
}
html body .featured .featured-slider .swiper-wrapper .box .stars {
  padding: 1rem 0;
}
html body .featured .featured-slider .swiper-wrapper .box .stars i {
  font-size: 1.7rem;
  color: yellowgreen;
}
html body .featured .featured-slider .swiper-wrapper .box .price {
  font-size: 2.5rem;
}
html body .featured .featured-slider .swiper-wrapper .box:hover img {
  transform: scale(0.9);
}
html body .review {
  background: #F5F5F5;
}
html body .review .review-slider {
  padding-bottom: 3rem;
}
html body .review .review-slider .swiper-wrapper .swiper-slide-active {
  background: white;
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
html body .review .review-slider .box {
  padding: 2rem 1.7rem;
  margin: 2rem 0;
  text-align: center;
  opacity: 0.4;
  transform: scale(0.9);
}
html body .review .review-slider .box img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}
html body .review .review-slider .box .content p {
  font-size: 1.4rem;
  color: #406661;
  padding: 1rem 0;
}
html body .review .review-slider .box .content h3 {
  font-size: 2.2rem;
  color: #57D131;
}
html body .review .review-slider .box .content .stars i {
  font-size: 1.7rem;
  color: #406661;
}
html body .contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
html body .contact .row .map {
  flex: 1 1 42rem;
  width: 100%;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
html body .contact form {
  flex: 1 1 42rem;
  padding: 5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: center;
}
html body .contact form h3 {
  font-size: 3rem;
}
html body .contact form .box {
  margin: 0.7rem 0;
  width: 100%;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
}
html body .contact form textarea {
  height: 15rem;
  resize: none;
}
html body .footer {
  display: flex;
  justify-content: space-between;
  background: #F5F5F5;
}
html body .footer .container {
  width: 96px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
html body .footer .sprite {
  width: 96px;
  height: 64px;
  background-image: url("../images/png/sprite.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  animation: spriteAnimation 0.4s steps(6) infinite;
}
html body .footer .credit {
  align-self: flex-end;
}
html body .footer .sprite:hover {
  background-position: -3456px -192px; /* Modificăm poziția de fundal pentru a afișa ultimul cadru al sprite-ului */
}
html body .footer .logo {
  align-self: center;
  font-size: 7rem;
  color: #B9E937;
  font-weight: bolder;
}
html body .footer .logo span {
  color: #406661;
}
html body .footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
html body .footer .box-container .box h3 {
  color: black;
  font-size: 2.5rem;
  padding: 1rem 0;
}
html body .footer .box-container .box a {
  color: #57D131;
  font-size: 2rem;
  display: inline-block;
  padding: 1rem 0;
}
html body .footer .box-container .box a i {
  padding-right: 0.5rem;
  color: black;
}
html body .footer .box-container .box a:hover i {
  padding-right: 0.2rem;
}

@media (max-width: 1124px) {
  .home h1 {
    font-size: 6vh !important;
  }
}
@media (max-width: 1050px) {
  html {
    font-size: 55% !important;
  }
  .header {
    padding: 2rem !important;
  }
  .header.active {
    padding: 2rem;
  }
  .home h1 {
    font-size: 5.5vh !important;
  }
}
@media (max-width: 805px) {
  .header #menu-btn {
    display: block !important;
  }
  .header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  .header #login-btn i {
    color: black;
    display: block !important;
  }
  .header #login-btn .btn {
    display: none;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: white;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }
  .header .active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .home h1 {
    font-size: 5vh !important;
  }
  .footer .logo {
    font-size: 4rem !important;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50% !important;
  }
  .home h1 {
    font-size: 3vh !important;
  }
  .heading {
    font-size: 3rem !important;
  }
  .footer .logo {
    font-size: 3rem !important;
  }
}/*# sourceMappingURL=style.css.map */